<!-- use fish and post schema above to make card -->
<div class="card">
    <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.content %></p>
    <p class="card-text"><%= post.fishInfo.species %></p>
    <p class="card-text"><%= post.fishInfo.length %></p>
    <p class="card-text"><%= post.fishInfo.weight %></p>
    <p class="card-text">date: <%= post.date %></p>
    <a class="nav-link" href="/profile/<%- post.username %>">
        <%- post.username %>
    </a>
    <!-- if current user is profile user -->
    <% if (currentUser && currentUser.username === post.username) { %>
        <!-- edit post modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editPostModal">
            Edit Post
        </button>

        <!-- editPost partial -->
        <%- include ("editPost.ejs", {post: post, currentUser: currentUser, profileUser: profileUser}) %>

        <!-- restful route for delete -->
        <form action="/profile/<%= post.username %>/<%= post._id %>?_method=DELETE" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    <% } %>
    </div>
</div>