<!-- header partial -->
<%- include ("partials/header.ejs", {currentUser: currentUser}) %>
<!-- Use bootstrap grid system to create a responsive page! -->

<body>
  <!-- cenetered welcome jumbo with username-->
  <div class="jumbotron text-center">
    <h1>Welcome to <%= profileUser.username %>'s Profile!</h1>
    <!-- edit profile button if current user is profile user-->
    <% if (currentUser && currentUser.username === profileUser.username) { %>
    <button id="storedUsername" type="button" class="btn btn-primary" data-username="<%= profileUser.username %>" data-toggle="modal" data-target="#editProfileModal" onclick="function reset(){document.getElementById('newUsername').value = document.getElementById('storedUsername').dataset.username;}reset();">
      Edit Profile
    </button>
    <% } %>
  </div>

  <!-- Use bootstrap grid system to create a responsive page! -->
  <div class="container">
    <div class="row">
      <div class="col-sm">



        <!-- Modal (edit username only for now) -->
        <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/editprofile?_method=PUT" method="post">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="newUsername" name="username" placeholder="New Username" value="<%= profileUser.username %>">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-4">

    <!-- post partial -->
    <div class="row">
      <div class="col-sm">
          <h2>Posts</h2>
          <!-- create post button if current user is profile user-->
          <% if (currentUser && currentUser.username === profileUser.username) { %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPostModal">
              Create Post
          </button>
          <% } %>
  
          <!-- newPost partial -->
          <%- include ("partials/newPost.ejs", {user: profileUser}) %>
  
          <!-- if no posts -->
          <% if (profileUser.posts.length === 0) { %>
          <p>No posts!</p>
          <% } %>
          <% for (let post of profileUser.posts) { %>
            <%- include ("partials/post.ejs", {post: post, currentUser: currentUser}) %>
          <% } %>
      </div>
  </div>
    
  </div>
</body>